*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

#root .main-header {
  font-weight: 700; }
  #root .main-header-landing {
    color: #1db954;
    font-size: 6rem; }
  #root .main-header-base {
    color: white;
    font-size: 3.6rem;
    margin: 2.4rem 0;
    letter-spacing: -0.005rem; }

#root .secondary-header {
  color: white;
  font-weight: 100;
  line-height: 1.5; }

#root .feature-list {
  color: #26cf5f;
  font-size: 1.8rem; }
  #root .feature-list__text {
    font-weight: 400;
    color: #26cf5f; }

.u-center-text {
  text-align: center; }

.u-padding-none {
  padding: 0 !important; }

.u-margin-small {
  margin: 2rem !important; }

.u-margin-medium {
  margin: 4rem; }

.top-bar {
  background-color: transparent; }

#root .top-container {
  height: 100%; }
  #root .top-container__browse-container {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 3rem; }

#root .nav-container {
  padding: 2.4rem;
  height: 100%;
  width: 22rem;
  background-color: rgba(0, 0, 0, 0.5); }
  #root .nav-container__item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.02rem; }
    #root .nav-container__item--active {
      color: #1db954; }
    #root .nav-container__item:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

#root .nav-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem; }
  #root .nav-item--active {
    color: white; }
    #root .nav-item--active::after {
      content: "";
      height: 2px;
      background-color: #1db954;
      width: 30px;
      position: relative;
      top: 4px;
      display: block;
      margin: 0 auto; }

#root .btn {
  display: inline-block;
  padding: 1.3rem 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50rem;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.3rem;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s; }

#root .btn--green {
  color: white;
  background-color: #07d159; }

#root .btn--transparent {
  font-size: 1.1rem;
  font-weight: 200;
  color: #1db954; }
  #root .btn--transparent:hover {
    transform: scale(1.1); }

.album {
  margin-bottom: 5rem; }
  .album__cover-art {
    position: relative;
    width: 14rem;
    height: 14rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s; }
  .album--hoverable:hover > .album__cover-art {
    filter: brightness(0.3); }
  .album__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: white;
    font-weight: 100;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    transition: all 0.3s; }
    .album__icon:hover {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.06); }
  .album--hoverable:hover > .album__icon {
    opacity: 1; }

#root .landing-page {
  display: flex;
  align-items: center;
  background-position: 50% 45%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/bg.jpg");
  background-size: cover;
  height: 100vh; }

#root .left-container {
  border-right: 0.1rem solid rgba(255, 255, 255, 0.6);
  padding-right: 5rem; }
  #root .left-container__logo-box {
    margin-bottom: 3rem; }
  #root .left-container__logo {
    width: 20rem; }

#root .right-container {
  padding-left: 5rem; }
  #root .right-container__header-box {
    margin-top: 3rem;
    margin-bottom: 1rem; }

#root .seperator-container {
  margin: 1rem 0; }
  #root .seperator-container__seperator-line {
    width: 2.5rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.6); }
  #root .seperator-container__seperator-text {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }

.home-container {
  background-image: linear-gradient(#304269, #04060a 85%);
  height: 100%; }
