*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

#main {
  min-height: 100vh; }

button,
input {
  line-height: 2rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

#root .main-header {
  font-weight: 700; }
  #root .main-header-landing {
    color: #1db954;
    font-size: 6rem; }
  #root .main-header-base {
    color: white;
    font-size: 3.6rem;
    margin: 2.4rem 0;
    letter-spacing: -0.005rem; }

#root .secondary-header {
  color: white;
  font-weight: 100;
  line-height: 1.5; }

#root .feature-list {
  color: #26cf5f;
  font-size: 1.8rem; }
  #root .feature-list__text {
    font-weight: 400;
    color: #26cf5f; }

.u-center-text {
  text-align: center; }

.u-padding-none {
  padding: 0 !important; }

.u-content-spacing {
  padding: 0 2.8rem !important; }

.u-margin-small {
  margin: 2rem !important; }

.u-margin-medium {
  margin: 4rem; }

.top-bar {
  background-color: transparent; }

#root .top-container {
  height: 100%;
  padding-left: 22rem;
  padding-bottom: 9rem; }
  #root .top-container__browse-container {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 2rem; }

#root .nav-container {
  padding: 2.4rem;
  height: 100%;
  width: 22rem;
  background-color: rgba(0, 0, 0, 0.5); }
  #root .nav-container__item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.02rem; }
    #root .nav-container__item--active {
      color: #1db954; }
    #root .nav-container__item:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.player-container {
  bottom: 0;
  position: fixed;
  z-index: 1000;
  background-color: #282828;
  border-top: 0.1rem solid black; }

#root .nav-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem; }
  #root .nav-item--active {
    color: white; }
    #root .nav-item--active::after {
      content: "";
      height: 2px;
      background-color: #1db954;
      width: 30px;
      position: relative;
      top: 4px;
      display: block;
      margin: 0 auto; }

#root .btn {
  display: inline-block;
  padding: 1.3rem 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50rem;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.3rem;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s; }

#root .btn--green {
  color: white;
  background-color: #07d159; }

#root .btn--view-more {
  font-size: 1.1rem;
  font-weight: 200;
  color: #1db954; }
  #root .btn--view-more:hover {
    transform: scale(1.1); }

.album {
  padding-bottom: 5rem; }
  .album--hoverable:hover .cover-art__image {
    filter: brightness(0.3); }
  .album__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: white;
    font-weight: 100;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.2s; }
    .album__icon:hover {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.06); }
    .album__icon::before {
      display: block; }
  .album--hoverable:hover .album__icon {
    opacity: 1; }

.album .cover-art {
  padding-top: 100%; }

.cover-art {
  background-color: #282828;
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative; }
  .cover-art:active {
    transform: scale3d(0.97, 0.97, 1); }
    .cover-art:active .cover-art__image {
      box-shadow: none; }

.cover-art__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); }

.player {
  height: 9rem;
  align-items: center !important;
  justify-content: space-between;
  padding: 0 16px; }
  .player__now-playing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .player__cover-art {
    flex-shrink: 0;
    position: relative;
    width: 56px;
    height: 56px;
    margin-right: 14px !important; }
  .player__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .player__controls-buttons {
      margin-bottom: 12px;
      display: flex;
      width: 224px;
      justify-content: space-between;
      flex-flow: row nowrap; }

#root .control-button {
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  transition: all 0.3ms; }
  #root .control-button__icon {
    width: 100%; }
    #root .control-button__icon::before {
      display: inline-block;
      font-size: 1.6rem;
      line-height: inherit; }
  #root .control-button__circled::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50rem;
    border: 1px solid rgba(255, 255, 255, 0.6); }
  #root .control-button:hover {
    color: white; }
  #root .control-button--hovered {
    transform: scale(1.06); }

#root .landing-page {
  display: flex;
  align-items: center;
  background-position: 50% 45%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/bg.jpg");
  background-size: cover;
  height: 100vh; }

#root .left-container {
  border-right: 0.1rem solid rgba(255, 255, 255, 0.6);
  padding-right: 5rem; }
  #root .left-container__logo-box {
    margin-bottom: 3rem; }
  #root .left-container__logo {
    width: 20rem; }

#root .right-container {
  padding-left: 5rem; }
  #root .right-container__header-box {
    margin-top: 3rem;
    margin-bottom: 1rem; }

#root .seperator-container {
  margin: 1rem 0; }
  #root .seperator-container__seperator-line {
    width: 2.5rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.6); }
  #root .seperator-container__seperator-text {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }

.home-container {
  min-height: 100%;
  width: 100%;
  position: relative; }

.bg {
  background-image: linear-gradient(#304269, #04060a 85%);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed; }
