.album {
  padding-bottom: 5rem;

  &--hoverable:hover .cover-art__image {
    filter: brightness(0.3);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: spotify-color("secondary");
    font-weight: 100;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &:hover {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.06);
    }

    &::before {
      display: block;
    }
  }
  &--hoverable:hover &__icon {
    opacity: 1;
  }
}

.album .cover-art {
  padding-top: 100%;
}

.cover-art {
  background-color: black-shade("darkest");
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;

  &:active {
    transform: scale3d(0.97, 0.97, 1);

    & .cover-art__image {
      box-shadow: none;
    }
  }
}

.cover-art__image {
  position: absolute;
  top: 0;
  @include size(100%);
  background-size: cover;
  background-position: 50%;
  box-shadow: 0 0 1rem spotify-color("foreground", $opacity:"dark");
}
