$button-padding: 1.3rem 4rem;
$button-font-size: 1.8rem;
$border-radius: 50rem;

%btn {
  display: inline-block;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: 700;
  border-radius: $border-radius;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.3rem;
  width: 100%;
  outline: none;
  cursor: pointer;
}

#root .btn {
  @extend %btn;

  &--green {
    color: spotify-color("secondary");
    background-color: spotify-color("primary");
  }
}
