#root .nav-item {
  color: spotify-color("secondary", $opacity:"lighter");
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;

  &--active {
    color: spotify-color("secondary");
    &::after {
      content: "";
      height: 2px;
      background-color: spotify-color("primary", "light");
      width: 30px;
      position: relative;
      top: 4px;
      display: block;
      margin: 0 auto;
    }
  }
}
