.u-center-text {
  text-align: center;
}

.u-padding-none {
  padding: 0 !important;
}

.u-content-spacing {
  padding: 0 2.8rem !important;
}

.u-margin-small {
  margin: 2rem !important;
}

.u-margin-medium {
  margin: 4rem;
}
