#root .top-container {
  height: 100%;
  padding-left: 22rem;
  padding-bottom: 9rem;

  &__browse-container {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 2rem;
  }
}
